<div class="sobre-nosotros-container">
  <div class="imagen">
    <div class="loader" *ngIf="cargandoImagen"></div>
    <div class="imagen">
      <img [src]="imagenActual" alt="Foto de presentación" />
    </div>
  </div>
  <div class="texto">
    <h2>Sobre Nosotros...<br>o mejor dicho, sobre mí.</h2>
    <h3>¡Un gusto! Soy Agustín, desarrollador web full stack, con pasión por el diseño funcional y los proyectos hechos especialmente para vos. <br>
      Desde soluciones digitales hasta piezas físicas únicas, me gusta resolver problemas con creatividad.
    </h3>
    <p>
      Detrás de <span style="font-style: italic;">ZS</span> hay una sola persona con muchas ganas de crear. Desde impresiones 3D a medida hasta servicios de fotografía automotor.
      <br>
      Me gusta acompañar ideas y convertirlas en algo real.
    </p>
    <p>
      Este proyecto nació como 'Zona Sur Car Spotter' siendo una página de fotografía de vehículos (también conocido como 'spotting') y luego decidí
      adoptar a <span style="font-style: italic;">ZS</span> como una identidad bajo la cual brindar mis diferentes servicios disponibles.
    </p>
  </div>
</div>
